<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/posted.css">
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <br>
    <h1 class="head"> your doubt has been posted!</h1>
    <button><a href="/registration">View all Previous Doubts</a></button>
</body>
</html>