nav {
    background-color: white;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    background-color: rgb(34, 34, 34);
    background-image: linear-gradient(to left, rgb(42, 17, 106), rgb(83, 35, 204));
    color: white;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    flex: row wrap;
    justify-content: space-between;
}

.navbar-item-navbar-brand {
    text-transform: none;
    font-family: 'Fascinate', cursive;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 30px;
}

.navbar-items-right {
    display: flex;
    flex: row wrap;
}

.navbar-item {
    margin: 10px;
    margin-bottom: auto;
    margin-top: auto;
}

.doubts {
    text-decoration: none;
    color: rgb(34, 34, 34);
    background-color: white;
    border-radius: 20px;
    font-weight: 700;
    border: none;
    padding: 10px 15px;
}